<template name="_Header">
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<a href="/" class="header borderless item">
				{{title}}
			</a>
			<div class="right menu">
				{{#if currentUser}}
					<div class="borderless item">
						{{currentUser.username}}
					</div>
					<div class="borderless item">
						<a data-action="logout" class="logout">
							Έξοδος
							<i class="sign out icon white"></i>
						</a>
					</div>									
				{{else}}
					<div id="lefko" class="borderless item">
						<a href="{{pathFor 'atSignIn' }}">Eίσοδος</a>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
		<div class="ui inverted secondary pointing stackable mine menu">
		<div class="ui container">
		  <a href="{{pathFor 'counters.all'}}" class="item {{isActiveRoute regex='counters'}}">
		    Kαταμετρητές
		  </a>
		  <a href="{{pathFor 'clocks.all'}}" class="item {{isActiveRoute regex='clocks'}}">
		    Υδρόμετρα
		  </a>
		  <a href="{{pathFor 'paths.all'}}" class="item {{isActiveRoute regex='paths'}}">
		    Δρομολόγια
		  </a>		  
		  <a href="{{pathFor 'measurements.all'}}" class="item {{isActiveRoute regex='measurements'}}">
		    Μετρήσεις
		  </a>
		  <a href="{{pathFor 'comments'}}" class="item {{isActiveRoute regex='comments'}}">
		    Σχόλια
		  </a>		  
<!-- 		  <div class="right menu">
		    <a class="ui item">
		      something
		    </a>
		  </div> -->
		</div>
		</div>

</template>





































