<template name="_Header">
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div href="/" class="header borderless item">
			counter admin interface
			</div>
			<div class="right menu">
				{{#if currentUser}}
					<div class="borderless item">
						{{niceName}}
					</div>
					<div class="borderless item">
						<a data-action="logout" class="logout">
							<i class="sign out icon white"></i>
						</a>
					</div>									
				{{else}}
					<div id="lefko" class="borderless item">
						<a href="{{pathFor 'atSignIn' }}">sign in</a>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
		<div class="ui inverted secondary pointing mine menu">
		<div class="ui container">
		  <a href="{{pathFor 'counters.all'}}" class="item {{isActiveRoute name='counters.all'}}">
		    Kαταμετρητές
		  </a>
		  <a href="{{pathFor 'clocks.all'}}" class="item {{isActiveRoute name='clocks.all'}}">
		    Υδρόμετρα
		  </a>
		  <a href="{{pathFor 'paths.all'}}" class="item {{isActiveRoute name='paths.all'}}">
		    Δρομολόγια
		  </a>		  
		  <a href="{{pathFor 'measurements.all'}}" class="item {{isActiveRoute name='measurements.all'}}">
		    Μετρήσεις
		  </a>
		  <a href="{{pathFor 'comments'}}" class="item {{isActiveRoute name='comments'}}">
		    Σχόλια
		  </a>		  
		  <div class="right menu">
		    <a class="ui item">
		      something
		    </a>
		  </div>
		</div>
		</div>

</template>





































