<template name="Path">

	{{#with path}}
		<div class="ui grid">
			<div class="path row">

				<div class="two wide column">
					<div class="ui mt-5 basic segment">
						<a href="{{pathFor 'paths'}}" class="circular ui compact path icon button">
							<i class="inverted large left arrow icon"></i>
						</a>
					</div>
				</div>

				<div class="twelve wide column">
					<div class="ui page-title basic segment">						
						<h3 class="ui center aligned inverted header">							
							<div class="content">
								{{name}}
							</div>
						</h3>
					</div>
				</div>
				
			</div>
		</div>
	{{/with}}	

	{{#if clocks.count}}
		<div class="ui basic segment">
			<div class="ui very relaxed divided list">
				{{#each clocks}}
					<a data-action="goMeasure" class="item">
						<div class="right floated content">
							<i class="right angle big icon"></i>
						</div>
						<div class="content">
							<div class="header">{{pathcode}}. {{name}}</div>
							<div class="description">Αριθμός υδρόμετρου: {{hydroMeter}}</div>
						</div>
					</a>			
				{{/each}}
			</div>
		</div>
		<div class="ui basic segment">
			<button data-action="loadmore" class="ui big fluid blue button">περισσότερα</button>
		</div>

	{{else}}
		<section class="ui padded basic segment">
			<h4 class="ui center aligned header">Δεν βρέθηκαν αποτελέσματα</h4>
			<a href="{{pathFor 'paths'}}" class="ui big basic fluid blue button">πίσω</a>
		</section>
	{{/if}}

</template>

