<template name="PathsEdit">
	<section class="ui vertical basic segment">
		<div class="ui container">
				<h1 class="ui header">
					<a data-action="editPathName">
						<i class="edit green icon"></i>
					</a>
					{{name}}  	
				</h1>			
			{{#if editPathName}}
				<div class="ui basic segment">
					{{> quickForm collection="Paths" doc=this id="updatePathNameForm" type="update"}}
				</div>			
			{{/if}}
		</div>
		<div class="ui raised overflow segment">
			{{> tabular table=TabularTables.ClocksForPathsEdit selector=selector class="table table-responsive"}}
		</div>		
	</section>
</template>