<template name="measureFields">
	<div class="container">
		<section class="ui basic segment">
			<h4 class="ui header">Εισαγωγή Μέτρησης</h4>
			<form id="success" class="ui form">
				<div class="field">
					<!-- <div class="ui big fluid right labeled input"> -->
					<div class="ui big fluid input">
						<!-- <div class="ui label">$</div> -->
						<input type="text" name="measuredValue" placeholder="Τιμή">
					</div>
				</div>				
				<div class="ui hidden divider"></div>
				<button type="submit" class="ui basic big fluid green button" data-action="sendMeasure">αποστολή</button>
			</form>		
		</section>
	</div>
</template>
