<template name="Home">

<div class="ui two column centered grid">
	<div class="measure row">
		<div class="column">
			<div class="ui intro basic segment">
				<a href="{{pathFor 'search'}}" class="ui inverted header">
					<i class="add icon"></i>
					<div class="content">
						Νέα Μέτρησηbb
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="path row">
		<div class="column">
			<div class="ui intro basic segment">
				<a href="{{pathFor 'paths'}}" class="ui inverted header">
					<i class="fork icon"></i>
					<div class="content">
						Δρομολόγια
					</div>
				</a>
			</div>			
		</div>
	</div>
	<div class="comment row">
		<div class="column">
			<div class="ui intro basic segment">
				<a href="{{pathFor 'comments'}}" class="ui inverted header">
					<i class="comment outline icon"></i>
					<div class="content">
						Σχόλιο
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="help row">
		<div class="column">
			<div class="ui intro basic segment">
				<a href="{{pathFor 'newclock'}}" class="ui inverted header">
					<i class="add icon"></i>
					<div class="content">
						Nέος Υδρομετρητής 
					</div>
				</a>
			</div>
		</div>
	</div>

	<!-- change color -->
	<div class="measure row">
		<div class="column">
			<div class="ui intro basic segment">
				<a href="{{pathFor 'help'}}" class="ui center aligned inverted header">
					<i class="help outline icon"></i>
					<div class="content">
						Βοήθεια
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
</template>









