<template name="Home">	
	<section class="ui vertical segment">
		<div class="ui container">
			<div class="ui raised segment">
				<div class="ui three column stackable grid">

					<div class="row">
						<div class="sixteen wide column">
							<div class="ui basic center aligned segment">
								<div class="ui image">
									<img src="/images/logo.png">
								</div>
							</div>
						</div>
					</div>

					{{#unless currentUser}}
						<div class="row">
							<div class="sixteen wide column">
								<div class="ui basic center aligned segment">
									<a href="{{pathFor 'atSignIn' }}" class="ui big blue button">Είσοδος</a>
								</div>
							</div>
						</div>
					{{else}}
						<div class="column">
							<div class="ui basic center aligned padded segment">
								<div class="ui icon header">
									<i class="users icon"></i>
									<div class="content">
										<!-- Καταμετρητές -->
										<a href="{{pathFor 'counters.all'}}">Καταμετρητές</a>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="ui basic center aligned padded segment">
								<div class="ui icon header">
									<i class="dashboard icon"></i>
									<div class="content">
										<!-- Καταμετρητές -->
										<a href="{{pathFor 'clocks.all'}}">Υδρόμετρα</a>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="ui basic center aligned padded segment">
								<div class="ui icon header">
									<i class="fork icon"></i>
									<div class="content">
										<!-- Καταμετρητές -->
										<a href="{{pathFor 'paths.all'}}">Δρομολόγια</a>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="ui basic center aligned padded segment">
								<div class="ui icon header">
									<i class="bar chart icon"></i>
									<div class="content">
										<!-- Καταμετρητές -->
										<a href="{{pathFor 'measurements.all'}}">Μετρήσεις</a>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="ui basic center aligned padded segment">
								<div class="ui icon header">
									<i class="comment outline icon"></i>
									<div class="content">
										<!-- Καταμετρητές -->
										<a href="{{pathFor 'comments'}}">Σχόλια</a>
									</div>
								</div>
							</div>
						</div>
					{{/unless}}		

				</div> <!-- grid -->
			</div>
		</div>
	</section>
</template>	
