<template name="failFiels">
	
	<section class="ui basic segment">
		<form class="ui form">
			<div class="field">
				<label>Επιλογή λόγου αδυναμίας μέτρησης</label>
				<select class="ui dropdown" id="failure-option">
					{{#each failureOptions}}
					  <option>{{this}}</option>
					{{/each}}
				</select>
			</div>
			<div class="field">	
				<label>Παρατηρήσεις αδυναμίας μέτρησης</label>		
				<textarea rows="4" name="failureText" placeholder="παρατηρήσεις αδυναμίας"></textarea>
			</div>
			<div class="field">
				<button class="ui basic button" data-action="photo">
					<i class="photo icon"></i>
					Λήψη φωτογραφίας
				</button>
				{{#if photo}}
					<div class="ui fluid segment">
						<div class="ui image">
							<img src="{{photo}}" />
						</div>
					</div>
				{{/if}}
			</div>
			<button type="submit" class="ui submit green button">αποστολή</button>		
		</form>
	</section>

</template>

