<template name="ClocksMap">

{{#if geolocationError}}

	<div class="ui negative message">
		<i class="close icon"></i>
		<div class="header">
			Λάθος κατα τον εντοπισμό της τοποθεσίας σας!
		</div>
		<p>Ενεργοποιηστε την επιλογη της τοποθεσίας του browser</p>
	</div>

{{/if}}

	<section class="ui vertical segment">		
		<div class="ui container">
			<div class="ui raised segment">
				<div id="map">
				</div>
			</div>
		</div>
	</section>
</template>


<template name="marker">
  <div class="ui basic section">
  		<div class="ui list">
  			<div class="item">{{clockname}}</div>
  			<div class="item">{{hydroMeter}}</div>
  			<div class="item">{{address}}</div>
  		</div>
  </div>
</template>