#map {
	min-height: 500px;
}

.leaflet-div-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: .8;
  /*border-radius: 50% 50% 0 50%;*/
  /*background: #00cae9;*/
  background: #49AFCD;
  position: absolute;
  /*transform: rotate(-45deg)!important;*/
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.leaflet-div-icon:after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}


